.container-1, .container-2, .container-3, .container-4{
    text-align: center;
    width: 75%;
    margin: auto;
    border: 1px solid black;
}

.container-2{
    border: 1px solid red;
}

.flex-box-container-1, .flex-box-rps, .flex-box-pick-color{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

#cat-image{
    max-width: 50%;
    height: auto;
    margin: auto;
    visibility: hidden;
}

.flex-box-rps img{
    width: 150px;
    height: 150px;
}

.shadowBlue img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

.clicked{
    box-shadow: 0px 10px 50px red;
}

.rps-result{
    width: 150px;
    height: 150px;
}

.result-message{
    background: tomato;
}

.result-message h2{
    margin: auto;
}